
#ban__compte{
    background-image: url(../image/pexels-oziel-gómez-845406.jpg);
  
}



.compte-titre{
    text-align: center;
    color: white;
    margin-top: 35px;
    transition: 1s;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.form__container{
    width: 250px;
    transition: 1s;
    background-color: #489897;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
    
    margin-top: 50px;
    margin-bottom: 50px;
}
.form__content{
    display: flex;
    flex-direction: column;
    
    
}
.form__content label{
    font-size: 110%;
    margin-bottom: 10px;
    color: #EEC47A;
    transition: 1s;
}
.form__content input{
    font-size: 170%;
    margin-bottom: 25px;
    transition: 1s;
}
.form__btn{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    
    
    
}
.form__btn button{
    background-color: #2f3d4ac0;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 10%/50%;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 130%;
    cursor: pointer;
    transition: 1s;
    
}
.form__btn button:hover{
    background-color: #2F3D4A;
    transition: 1s;
}
.form__inscription{

    text-align: center;
    margin-top: 35px;
}
.form__inscription a{
    color: #EEC47A;
    text-decoration: none;
    font-weight: bold;
    transition: 1s;
}


@media screen and (min-width:688px){

    .compte-titre h2{
        font-size: 200%;
        letter-spacing: 2px;
        margin-bottom: 35px;
        transition: 1s;
    }

    .form__container{
        width: 300px;
        transition: 1s;
    }
    .form__content input{
        font-size: 200%;
        margin-bottom: 30px;
        transition: 1s;
    }

    .form__content label{
        font-size: 150%;
        transition: 1s;
        
    }
    .form__btn button{
        font-size: 150%;
        transition: 1s;
    }
    .form__inscription a{
        font-size: 120%;
        transition: 1s;
    }

}

@media screen and (min-width:1300px){

    .compte-titre h2{
        font-size: 220%;
        transition: 1s;
    }

    .form__container{
        width: 350px;
        transition: 1s;
    }

    .form__content input{
        font-size: 220%;
        margin-bottom: 30px;
        transition: 1s;
    }

    .form__content label{
        font-size: 170%;
        transition: 1s;
        
    }

    .form__btn button{
        font-size: 170%;
        transition: 1s;
    }

    .form__inscription a{
        font-size: 140%;
        transition: 1s;
    }
}