


#ban__inscription{
    background-image: url(../image/pexels-oziel-gómez-845406.jpg);
    
}




.form2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.form2__container{
    width: 250px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    background-color: #489897;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
    
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.form2__content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
    
}
.form2__content label{
    font-size: 110%;
    margin-bottom: 10px;
    color: #EEC47A;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.form2__content input{
    font-size: 140%;
    margin-bottom: 25px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.form2__btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: 20px;
    
    
    
}
.form2__btn button{
    background-color: #2f3d4abe;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 10%/50%;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 130%;
    cursor: pointer;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    
}
.form2__btn button:hover{
    background-color: #2f3d4a;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
@media screen and (min-width:688px){
    
    .form2__container{
        width: 420px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    .form2__content input{
        font-size: 150%;
        margin-bottom: 30px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }

    .form2__content label{
        font-size: 130%;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        
    }
    .form2__btn button{
        font-size: 130%;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }

}

@media screen and (min-width:788px){

    .form2__flex{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .form2__container{
        width: 650px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }

    

}

@media screen and (min-width:988px){

   

    .form2__container{
        width: 750px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }

    .form2__content input{
        font-size: 170%;
        margin-bottom: 30px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }

    .form2__content label{
        font-size: 150%;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        
    }

    .form2__btn button{
        font-size: 150%;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }

   
}
@media screen and (min-width:1300px){

    .form2__container{
        width: 730px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
}
