#ban__montageEquilibrage{
    background-image: url(../image/ban-pneu.jpg);
}
.titre__montageEquilibrage{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.titre__montageEquilibrage h3{
    color: #EEC47A;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.carte__pneu-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
    
}
.carte__pneu-width{
    width: 300px;
    display: flex;
    margin-bottom: 25px;
}

.carte__pneu-content img{
    width: 80px;
    height: 80px;
}
.carte__pneu-content2{
    margin-left: 5px;
    font-size: 100%;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.carte__pneu-content2 p{
    font-size: 90%;
}
.pneu-content2__prix-ajout{
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}
.pneu-content2__prix-ajout p{

    font-size: 120%;
    font-weight: bold;
}
.pneu-content2__prix-ajout a{

    text-decoration: none;
    background-color: #489897;
    border-radius: 10%/50%;
    color: white;
    font-weight: bold;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width:688px){
    .carte__pneu-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .carte__pneu-width{
        width: 300px;
        display: flex;
        margin-bottom: 25px;
    }
    .carte__pneu-container-center{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
@media screen and (min-width:988px){
    .carte__pneu-container{
        display: grid;
        row-gap: 50px;
    }
    .pneu-content2__prix-ajout p{

        font-size: 150%;
    }
    
    .carte__pneu-content img{
        width: 100px;
        height: 100px;
    }
    .carte__pneu-content2-forfait p{
        font-size: 120%;
    }
    .carte__pneu-width{
        width: 400px;
        
    }
}