

#ban__prestation{
    background-image: url(../image/ban-prestation.jpg);
    
}

#prestation__point{
    width: 50px;
}


.prestation-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.prestation-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: 300px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    

}
.prestation-content h2{
    color: #EEC47A;
    margin-bottom: 25px;
    margin-top: 25px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.prestation-content img{
    width: 250px;
    height: 280px;
    margin-bottom: 10px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.content-prestation{
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: 250px;
    margin-bottom: 50px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.content-prestation a{
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.content-prestation a:hover{

    color: #EEC47A;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;

}















.admin-prestation__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.admin-prestation__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #489897;
    width: 280px;
    height: 310px;
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 10px;
}

.admin-prestation__content p{
    color: white;
    font-weight: bold;
    font-size: 130%;
}

.admin-prestation__content a{
    color: white;
    text-decoration: none;
    background-color: #2F3D4A;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    border-radius: 10%/50%;
    font-size: 120%;
}




@media screen and (min-width:688px){


    .prestation-container{

        -webkit-box-orient: initial;

        -webkit-box-direction: initial;

            -ms-flex-direction: initial;

                flex-direction: initial;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .prestation-content{
        width: 250px;
        margin-left: 10px;
        margin-right: 10px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    .prestation-content img{
        width: 200px;
        height: 250px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    .prestation-content h2{
        font-size: 100%;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    .content-prestation{
        width: 200px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    
}
@media screen and (min-width:799px) {
    .admin-prestation__container{
        flex-direction: initial;
        width: 790;
        justify-content: space-around;

    }
    .admin-prestation__content{
        width: 250px;
        height: 270px;
    }
}

@media screen and (min-width:988px){
    .prestation-content h2{
        font-size: 130%;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    .content-prestation{
        width: 250px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    .prestation-content img{
        width: 250px;
        height: 280px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }

}

@media screen and (min-width:1300px){
    .prestation-content h2{
        font-size: 140%;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    .content-prestation{
        width: 270px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    .prestation-content img{
        width: 270px;
        height: 300px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    .admin-prestation__content{
        width: 300px;
        height: 330px;
    }

}

