

#ban__prestation{
    background-image: url(../image/ban-prestation.jpg);
    
}
#ban-prestation-utilisateur2{
    background-image: url(../image/ban-prestation-utilisateur.jpg);
}























.admin-prestation__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.admin-prestation__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #489897;
    width: 280px;
    height: 310px;
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 10px;
}
.admin-prestation__content p{
    color: white;
    font-weight: bold;
    font-size: 130%;
}
.admin-prestation__content a{
    color: white;
    text-decoration: none;
    background-color: #2F3D4A;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    border-radius: 10%/50%;
    font-size: 100%;
}

.admin-prestation__btn-modif{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.admin-prestation__btn-modif a {
    color: white;
    text-decoration: none;
    background-color: #489897;
    border-radius: 10%/50%;
    font-weight: bold;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;

}








.prestation-grid-afficher{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.admin-prestation-container__afficher{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #489897;
    margin-bottom: 25px;
    width: 310px;
    height: 266px;

}
.admin-prestation-content__afficher{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.admin-prestation__afficher{
    display: flex;
    justify-content: space-around;
    width: 300px;
}
.admin-prestation__afficher-flex{
    display: flex;
}
.admin-prestation__afficher-btn{
    width: 300px;
    display: flex;
    justify-content: space-around;
}
.admin-prestation__afficher-type{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.admin-prestation__afficher-type p{
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
}
#admin-prestation__color-titre{
    color: #EEC47A;
    font-weight: bold;
}
.admin-prestation__afficher-flex p{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;

}
.admin-prestation__afficher-btn a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-right: 25px;
    padding-left: 25px;
    padding: 8px;
    border-radius: 10%/50%;
    background-color: #2F3D4A;
    margin-bottom: 25px;
    margin-top: 25px;
}
.carte__prestation-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.prestation-utilisateur-duree{
    height: 80px;
    width: 80px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../image/image-prestation.jpg);
    background-position: center;
    background-size: cover;
}
.prestation-utilisateur-duree p{
    color: white;
    font-size: 110%;
    font-weight: bold;
    
}
.carte__prestation-utilisateur{
    display: flex;
    justify-content: center;
    height: 100px;
    
    
}
.prestation-utilisateur-type-prix{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    
}
.prestation-utilisateur-type-prix p{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 90%;

}
.prestation-utilisateur-prix-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}
.prestation-utilisateur-prix-btn a{
    margin-right: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10%/50%;
    background-color: #489897;
    padding-right: 25px;
    padding-left: 25px;
    padding: 6px;
    font-weight: bold;
}
.prestation-utilisateur-prix-btn p {
    font-weight: bold;
    font-size: 110%;
    color: #EEC47A;
}
.prestation-utilisateur-grid{
    margin-top: 30px;
}

















@media screen and (min-width:688px){


    .prestation-container{

        -webkit-box-orient: initial;

        -webkit-box-direction: initial;

            -ms-flex-direction: initial;

                flex-direction: initial;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .prestation-content{
        width: 250px;
        margin-left: 10px;
        margin-right: 10px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    .prestation-content img{
        width: 200px;
        height: 250px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    .prestation-content h2{
        font-size: 100%;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    .content-prestation{
        width: 200px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }

    .prestation-grid-afficher{
        display: grid;
        flex-direction: initial;
        grid-template-columns: 1fr 1fr;
    }
    .prestation-grid-center{
        display: flex;
        justify-content: center;
    }
    .prestation-utilisateur-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}
@media screen and (min-width:799px) {
    .admin-prestation__container{
        display: grid;
        flex-direction: initial;
        grid-template-columns: 1fr 1fr;

    }
    .admin-prestation__center{
        display: flex;
        justify-content: center;
    }
    .admin-prestation__content{
        width: 280px;
        height: 270px;
    }
}


@media screen and (min-width:988px){
    .prestation-content h2{
        font-size: 130%;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    .content-prestation{
        width: 250px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    .prestation-content img{
        width: 250px;
        height: 280px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    .admin-prestation__container{
        display: grid;
        flex-direction: initial;
        grid-template-columns: 1fr 1fr ;

    }
    .admin-prestation__content{
        width: 250px;
        height: 300px;
    }
   
   

}
@media screen and (min-width:1100px){
    .admin-prestation__container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width:1300px){
    .prestation-content h2{
        font-size: 140%;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    .content-prestation{
        width: 270px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    .prestation-content img{
        width: 270px;
        height: 300px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    .admin-prestation__content{
        width: 300px;
        height: 330px;
    }

}

